/* Bootstrap */
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
/* PARAMS */
@import './params.css';
/* MIXINS */
@import './mixins.css';
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Abel|Sen:400,700&display=swap');
/* Components */
@import '../components/elements/CustomModal.css';
@import '../components/elements/FloatingSocialNetworks.css';
@import '../components/elements/KnowMeFinished.css';
@import '../components/elements/NavigatorArrow.css';
@import '../components/elements/SectionTitles.css';
@import '../components/elements/SelectLanguage.css';
@import '../components/elements/SocialNetworks.css';
@import '../components/elements/TagsList.css';
@import '../components/layouts/Gallery.css';
@import '../components/layouts/LeftToRight.css';
@import '../components/layouts/TimeLine.css';
@import '../components/sections/Contact.css';
@import '../components/sections/Information.css';

html,
body {
  font-family: 'Abel', sans-serif;
  color: var(--black);
  background-color: var(--white2);
  background-image: url('/images/background.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
}

a {
  color: var(--orange);
}

/* Section */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.section-content {
  height: 100%;
  max-height: 800px;
}

/* Others */
.white-box {
  width: 100%;
  padding: 3rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--gray5);
  @mixin boxShadow;
  .white-box__title {
    color: var(--orange);
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: bold;
    margin: 0 0 0.8rem;
  }
  .white-box__subtitle {
    font-size: 2rem;
    color: var(--black);
    line-height: 2rem;
    margin: 0 0 1.2rem;
    font-weight: bold;
  }
  ul {
    marging: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin-bottom: 0.5rem;
      &:before {
        content: '+ ';
        color: var(--black);
      }
      & > ul {
        margin: 1rem 0 0 1rem;
        li {
          &:before {
            content: '-';
          }
        }
      }
    }
  }
  p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.small {
    padding: 2rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    .white-box__title {
      font-size: 1rem;
      line-height: 1rem;
      margin: 0 0 0.5rem;
    }
    .white-box__subtitle {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin: 0 0 1rem;
    }
  }
  .tags {
    margin-top: 1rem;
  }
}

.red {
  color: var(--orange);
}

/* Override bootstrap */
.btn {
  padding: 0.8rem 2.5rem;
  border-radius: 1.5rem;
  border-width: 2px;
  font-size: 1.2rem;
  &.btn-circle {
    width: 50px;
    height: 50px;
    line-height: 1px;
    padding: 0;
    border-radius: 25px;
    border: 0;
    &.btn-facebook {
      background-color: var(--facebook);
    }
    &.btn-instagram {
      background-color: var(--instagram);
    }
    &.btn-linkedin {
      background-color: var(--linkedin);
    }
    &.btn-pinterest {
      background-color: var(--pinterest);
    }
    &.btn-tumblr {
      background-color: var(--tumblr);
    }
    &.btn-twitter {
      background-color: var(--twitter);
    }
    &.btn-skype {
      background-color: var(--skype);
    }
    &.btn-youtube {
      background-color: var(--youtube);
    }
    .btn-circle-icon {
      font-size: 1.5rem;
      line-height: 1.5rem;
      color: var(--white);
    }
  }
}

.btn-primary {
  background-color: var(--orange);
  border-color: var(--orange);
  &:hover {
    background-color: var(--orange2);
    border-color: var(--orange2);
  }
  &:focus,
  &.focus {
    background-color: var(--orange2);
    border-color: var(--orange2);
    box-shadow: 0 0 0 0.2rem rgba(248, 144, 40, 0.3);
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: var(--orange2);
    border-color: var(--orange2);
  }
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled):active.focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 144, 40, 0.3);
  }
}

.btn-outline-primary {
  color: var(--orange);
  border-color: var(--orange);
  &:hover {
    color: var(--white);
    background-color: var(--orange2);
    border-color: var(--orange2);
  }
  &:focus,
  &.focus {
    color: var(--white);
    background-color: var(--orange2);
    border-color: var(--orange2);
    box-shadow: 0 0 0 0.2rem rgba(248, 144, 40, 0.3);
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: var(--white);
    background-color: var(--orange2);
    border-color: var(--orange2);
  }
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled):active.focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 144, 40, 0.3);
  }
}

.btn-secondary {
  background-color: var(--gray3);
  border-color: var(--gray3);
  &:hover {
    background-color: var(--gray4);
    border-color: var(--gray4);
  }
  &:focus,
  &.focus {
    background-color: var(--gray4);
    border-color: var(--gray4);
    box-shadow: 0 0 0 0.2rem rgba(248, 144, 40, 0.3);
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: var(--gray2);
    border-color: var(--gray2);
  }
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled):active.focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 144, 40, 0.3);
  }
}

/* Effects */
@mixin appearAndTranslateY afterload-section, -15px, 1s, 2s {
  /* Effect over elements that will be loaded after section */
}

@mixin appearAndTranslateY afterload-section-with-delay, -15px, 1s, 3s {
  /* Effect over elements that will be loaded after section with more delay */
}

/* Media */
@media (max-width: 1200px) {
  .white-box {
    padding: 1.2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    .white-box__title {
      font-size: 1rem;
      line-height: 1rem;
      margin: 0 0 0.5rem;
    }
    .white-box__subtitle {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin: 0 0 1rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.2rem;
    }
    &.small {
      padding: 1.2rem;
      font-size: 1rem;
      line-height: 1.2rem;
      .white-box__title {
        font-size: 1rem;
        line-height: 1.2rem;
        margin: 0 0 0.5rem;
      }
      .white-box__subtitle {
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin: 0 0 0.8rem;
      }
    }
  }
  .btn {
    &.btn-circle {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      .btn-circle-icon {
        font-size: 1.3rem;
        line-height: 1.3rem;
      }
    }
  }
}

@media (max-width: 992px) {
  .white-box {
    font-size: 0.8rem;
    line-height: 1rem;
    .white-box__title {
      font-size: 0.8rem;
      line-height: 0.8rem;
      margin: 0 0 0.5rem;
    }
    .white-box__subtitle {
      font-size: 1.2rem;
      line-height: 1.2rem;
      margin: 0 0 0.8rem;
    }
    p {
      font-size: 0.8rem;
      line-height: 1rem;
    }
    &.small {
      padding: 1.2rem;
      font-size: 1rem;
      line-height: 1.2rem;
      .white-box__title {
        font-size: 0.8rem;
        line-height: 0.8rem;
        margin: 0 0 0.3rem;
      }
      .white-box__subtitle {
        font-size: 1rem;
        line-height: 1rem;
        margin: 0 0 0.5rem;
      }
    }
  }
  .btn {
    font-size: 1rem;
    &.btn-circle {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      .btn-circle-icon {
        font-size: 1rem;
        line-height: 1rem;
      }
    }
  }
}