@define-mixin boxShadow {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@define-mixin appearAndTranslateY $name, $initPosY: -15px, $time: 0.5s,
  $delay: 0 {
  .appear-and-translateY__$(name) {
    opacity: 0;
    animation: appear-and-translateY $(time) forwards $(delay) 1 alternate;
  }
  @keyframes appear-and-translateY {
    from {
      opacity: 0;
      transform: translateY($(initPosY));
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
