:root {
  /* Color */
  --orange: #f99028;
  --orange2: #f3a62b;
  --black: #071e48;
  --white: #fff;
  --white2: #f1f1f1;
  --gray: #ddd;
  --gray2: #eee;
  --gray3: #aaa;
  --gray4: #999;
  --gray5: #666;
  /* Brand */
  --facebook: #4267b2;
  --instagram: #8c46c3;
  --linkedin: #0073b0;
  --pinterest: #e6001a;
  --tumblr: #28435a;
  --twitter: #2ac0fd;
  --skype: #3cabed;
  --youtube: #f40100;
}
