.contact {
  .contact__ssnn {
    display: flex;
    flex-direction: row;
    width: 100%;
    .btn-circle {
      margin: 0 1rem 0 0;
    }
  }
}

@media (max-width: 768px) {
  .contact {
    .contact__ssnn {
      .btn-circle {
        margin: 0 0.3rem 0 0;
      }
    }
  }
}