.information {
  display: flex;
  flex-direction: row;
  height: 100%;
  .information__left {
    display: flex;
    flex-direction: column;
    flex: 60%;
    justify-content: center;
    align-items: flex-start;
  }
  .information__right {
    display: flex;
    flex: 40%;
    flex-direction: column;
    justify-content: flex-end;
  }
  .information__name {
    font-family: 'Sen', sans-serif;
    text-transform: uppercase;
    margin: 0 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2rem;
  }
  .information__job {
    font-family: 'Sen', sans-serif;
    text-transform: uppercase;
    margin: 0 0 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.5rem;
  }
  .information__job-description {
    color: var(--gray3);
    margin: 0 0 3rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .information__actions {
    display: flex;
    flex-direction: row;
    .btn {
      margin: 0 1rem 0 0;
    }
  }
  .information__photo {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 992px) {
  .information {
    flex-direction: column;
    .information__left {
      flex: 100%;
      justify-content: center;
      align-items: flex-start;
    }
    .information__right {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .information {
    .information__name {
      font-size: 1rem;
      line-height: 1rem;
    }
    .information__job {
      font-size: 2rem;
      line-height: 2rem;
    }
    .information__job-description {
      font-size: 1rem;
      line-height: 1rem;
    }
  }
}

@media (max-width: 576px) {
  .information {
    .information__left {
      justify-content: center;
      align-items: center;
    }
    .information__name {
      font-size: 0.8rem;
      line-height: 0.8rem;
      margin: 0 0 0.8rem;
    }
    .information__job {
      font-size: 1.2rem;
      line-height: 1.2rem;
      margin: 0 0 0.8rem;
    }
    .information__job-description {
      font-size: 0.8rem;
      line-height: 0.8rem;
      margin: 0 0 1.5rem;
    }
    .information__actions {
      .btn {
        margin: 0 0.5rem;
        padding: 0.5rem 1.5rem;
        border-radius: 1.2rem;        
      }
    }
  }
}