.gallery {
  display: flex;
  flex-direction: column;
  .gallery__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery__bottom {
    display: flex;
    flex-direction: row;
    flex: 1;
    .white-box {
      display: flex;
      flex-direction: row;
      flex: 1;
      position: relative;
      .gallery_prev {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -25px;
        margin-left: -25px;
      }
      .gallery_next {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -25px;
        margin-right: -25px;
      }
      .gallery__bottom__left {
        display: flex;
        width: 40%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .gallery__description {
          text-align: center;
          padding: 0 2rem 0 0;
          .gallery__description__name {
            font-family: 'Sen', sans-serif;
            font-size: 1rem;
            line-height: 1.2rem;
            text-transform: uppercase;
            color: var(--orange);
            margin: 0 0 0.5rem;
            letter-spacing: 1px;
            font-weight: bold;
          }
          .gallery__actions {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 1rem 0 0;
            .btn {
              margin: 0 0.25rem;
              padding: 0.4rem 1.25rem;
              font-size: 0.8rem;
              border-radius: 1rem;
            }
          }
          .tags {
            justify-content: center;
          }
        }
      }
      .gallery__bottom__right {
        display: flex;
        width: 60%;
        flex-direction: column;
        justify-content: center;
        position: relative;
        overflow: hidden;
        padding: 4px;
        border: 1px solid var(--gray);
        .gallery__image {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 100%;
          width: 100%;
        }
      }  
    }
  }
}

@media (max-width: 992px) {
  .gallery {
    .gallery__top {
      flex: 20%;
      justify-content: flex-end;
    }
    .gallery__bottom {
      flex: 80%;
      .white-box {
        height: 450px;
        flex-direction: column-reverse;
        flex: inherit;
        .gallery_prev {
          margin-top: -20px;
          margin-left: -20px;
        }
        .gallery_next {
          margin-top: -20px;
          margin-right: -20px;
        }
        .gallery__bottom__left {
          width: 100%;
          height: 40%;
          .gallery__description {
            padding: 2rem 0 0 0;
            .gallery__description__name {
              font-size: 0.8rem;
              line-height: 1rem;
              margin: 0 0 0.3rem;
            }
          }
        }
        .gallery__bottom__right {
          width: 100%;
          height: 60%;
        }  
      }
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    .gallery__bottom {
      .white-box {
        height: 400px;
        .gallery_prev {
          margin-top: 0px;
          margin-left: -40px;
          margin-bottom: -40px;
          top: auto;
          left: 50%;
          bottom: 0;
        }
        .gallery_next {
          margin-top: 0px;
          margin-right: -40px;
          margin-bottom: -40px;
          top: auto;
          right: 50%;
          bottom: 0;
        }
        .gallery__bottom__left {
          .gallery__description {
            padding: 1rem 0 0 0;
          }
        }
      }
    }
  }
}
