.left-to-right {
  display: flex;
  flex-direction: row;
  .left-to-right__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 50%;
  }
  .left-to-right__right {
    display: flex;
    flex-direction: column;
    flex: 50%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .left-to-right {
    flex-direction: column;
    .left-to-right__left {
      flex: 20%;
      justify-content: flex-end;
    }
    .left-to-right__right {
      flex: 80%;
      justify-content: flex-start;
    }
  }
}
