.arrow {
  position: relative;
  margin: 0 auto;
  width: 2px;
  height: 100%;
  .point {
    position: absolute;
    left: 0px;
    top: 0px;
    &:before,
    &:after {
      border: 1px solid var(--gray4);
      height: 35px;
      content: '';
      position: absolute;
    }
    &:before {
      top: -7px;
      left: -10px;
      transform: rotate(35deg);
    }
    &:after {
      top: -7px;
      left: 10px;
      transform: rotate(-35deg);
    }
  }
  .line {
    border: 1px dashed var(--gray4);
    height: 100%;
    width: 1px;
  }
  .circle {
    position: absolute;
    background-color: var(--orange);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    bottom: 0px;
    left: -6px;
  }
}

.timeline-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 4rem 0;
  .badge {
    cursor: pointer;
    color: var(--gray3);
    background-color: var(--gray);
    &:hover {
      color: var(--white);
      background-color: var(--gray4);
    }
    &:focus,
    &.focus,
    &.focus:hover {
      color: var(--white);
      background-color: var(--orange);
      @mixin boxShadow;
    }
  }
  .badge-pill {
    padding: 0.5rem 1rem;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  .timeline__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .timeline__bottom {
    display: flex;
    flex-direction: row;
    flex: 1;
    .timeline__bottom__left {
      display: flex;
      flex-direction: column;
      flex: 3;
      justify-content: center;
      align-items: center;
      .timeline__selector {
        display: none;
      }
      .timeline__description {
        width: 60%;
      }
    }
    .timeline__bottom__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      .arrow {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 50%;
      }
      .timeline-data {
        position: relative;
        z-index: 2;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .timeline {
    .timeline__bottom {
      .timeline__bottom__left {
        justify-content: flex-start;
        .timeline__description {
          width: 100%;
        }
      }
      .timeline__bottom__right {
        display: none;
      }
    }
  }
}

@media (max-width: 992px) {
  .timeline {
    .timeline__top {
      flex: 20%;
      justify-content: flex-end;
    }
    .timeline__bottom {
      flex: 80%;
      .timeline__bottom__left {
        .timeline__selector {
          display: block;
        }
      }
    }
  }
}