.modal-backdrop.show {
  opacity: 0.2;
}

.modal-content {
  border: 0;
  @mixin boxShadow;
}

.modal-header {
  background-color: var(--orange);
  border-bottom: 0;
}

.modal-title {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 1.5rem;
}

@media (max-width: 576px) {
  .modal-header {
    padding: 0.8rem;
  }

  .modal-title {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

