.floating-ssnn {
  position: fixed;
  z-index: 3;
  top: 2rem;
  left: 0;
  padding: 0.5rem 0.8rem 0.5rem 2rem;
  background-color: var(--white2);
  border: 8px solid var(--white);
  border-left-color: transparent;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  @mixin boxShadow;
}

@media (max-width: 768px) {
  .floating-ssnn {
    top: 1rem;
    padding: 0.3rem 0.5rem 0.3rem 0rem;
    border-width: 4px;
  }
}