.know-me-finished {
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--gray5);
  h4 {
    margin: 0 0 1.2rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: bold;
  }
}

@media (max-width: 576px) {
  .know-me-finished {
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--gray5);
    h4 {
      margin: 0 0 0.8rem;
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
}
