.navigator-arrow {
  position: fixed;
  z-index: 3;
  bottom: 2rem;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: moving-y-axis 0.5s linear 0s infinite alternate;
  .btn-circle {
    @mixin boxShadow;
  }
}

@keyframes moving-y-axis {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(15px);
  }
}

@media (max-width: 768px) {
  .navigator-arrow {
    bottom: 1rem;
  }
}
