.section__title {
  margin: 0 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.2rem;
  color: var(--orange);
  font-family: 'Sen', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section__subtitle {
  margin: 0 0 2rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
  font-family: 'Sen', sans-serif;
  text-transform: uppercase;
}

@mixin appearAndTranslateY section_title, -15px, 1.5s, 1.5s {
  /* Effect to section title */
}

@mixin appearAndTranslateY section_subtitle, -15px, 1s, 1.5s {
  /* Effect to section subtitle */
}

@media (max-width: 992px) {
  .section__title {
    margin: 0 0 0.5rem;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 1px;
  }
  .section__subtitle {
    margin: 0 0 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 768px) {
  .section__title {
    margin: 0 0 0.3rem;
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  .section__subtitle {
    margin: 0 0 0.8rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}
