.select-language {
  position: fixed;
  z-index: 3;
  right: 2rem;
  top: 2rem;
  color: var(--gray3);
  .form-group {
    margin: 0;
    select {
      &.form-control {
        background-color: transparent;
        border: 0;
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.25rem;
        height: auto;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .select-language {
    right: 1rem;
    top: 1rem;
  }
}
