.ssnn {
  display: flex;
  flex-direction: row;
  .btn-circle {
    margin-left: 1rem;
  }
}

@media (max-width: 992px) {
  .ssnn {
    .btn-circle {
      margin-left: 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .ssnn {
    .btn-circle {
      margin-left: 0.3rem;
    }
  }
}
