.tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.5rem;
  line-height: 2.5rem;
  .badge {
    margin: 0 0.25rem 0.5rem;
  }
}
@media (max-width: 1200px) {
  .tags {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media (max-width: 992px) {
  .tags {
    font-size: 1rem;
    line-height: 1.5rem;
    .badge {
      margin: 0 0.25rem 0.35rem;
    }
  }
}